#{extends 'main.html' /}
#{set title:'Home' /}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
</head>  
<body>

  <nav class="menu push-menu-left">
    <ul>
        <li><button class="close-menu">pin</button></li>
        <li><a href="feed.html">Home</a></li>
        <li><a href="#">Saved for Later</a></li>
        <li><a id="addChannel" href="#">Add content</a></li>
        <li><a href="#">All</a></li>        
        <li><a href="index.html">Main page</a></li>        
    </ul>
  </nav>

  <div id="wrapper">
    <div id="main">
        <div class="container">
            <h2 class="my-header">
                Featured
            </h2>
            <div class="container">
              <div class="row">
                  <div class="col-xs-4">
                    <div class="my-item">
                      <div class="thumbnail">
                          <img src="@{'/public/images/bee.jpg'}" class="item-picture" alt="">
                          <h3>
                              Sirenes tur sap
                          </h3>
                          <p class="description">
                              Vi conservet inspectio disputari et me. Figuram moralis nam sui propter secunda rea. Mei deprehendi vigilantes defectibus voluntates sua geometriam istiusmodi. Pensitatis ita imo reducantur devenietur praemissae diversorum nec. Multi ab entis ex ob nulla typis. Occasio re maximum ex is haustam infusum. Contra nec quodam genium nam haereo pileos. Spontaneo cum proponere assignare suo supponant cur attigeram eam. Rea originis obtinent excitari quidquid ineptire iis has cognitas. 
                          </p>
                      </div>
                    </div>
                  </div>                 
                  <div class="col-xs-4">
                    <div class="my-item">
                      <div class="thumbnail">
                        <img src="@{'/public/images/mountain.jpg'}" alt="" class="item-picture">
                        <h3>
                            Perfectum ii infirmari
                        </h3>
                        <p class="description">
                            Vul student quaeque brachia nos divelli. Ha ex alterius locusque insidias formalis ii mutuatur judiciis. Is revocare posuisse to possumne diversas arbitror obturabo. Eos voce inge ente ibi ideo enim. Volo vera nemo tam nolo more alia tum. Hic confirmari manifestum meo formaliter. Cui plane uti factu sumne aut multi timeo fas. 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="my-item">
                      <div class="thumbnail">
                        <img src="@{'/public/images/billiard.jpg'}" alt="" class="item-picture">
                          <h3>
                              Ideo sumi sae
                          </h3>
                          <p class="description">
                              Expendere rea eos scientiam assentiri tantumque aliquibus. Is ex aliquot saporem corpore at obscure. Cui veri quo dat sine ibi nudi dare. Nonnisi aperire et diversi majoris visione an vi. Rom ponderibus respondeam imaginarer hic externarum. Nudi suam de ha nunc ecce at in sine. Ne longo tenus ii du ferri et. Via tes excludat lectorum quaerere suo nam. 
                          </p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>

        <ul class="media-list">
            <a href="channel.html">
              <h2 class="my-header"> 
                  Channel1
              </h2>           
            </a>             
            <div class="my-item">
                <li class="media">
                    <a href="#" class="pull-left">
                        <img src="@{'/public/images/tide.jpg'}" class="media-object mpicture" alt="tide">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Ei archetypi admiserim <small><i>Posted on January 10, 2014</i></small></h4>
                        <p>Facile ha me virtus de calore factam si. Proposui qualitas eas uti accurate efficiat hoc. Advenit validas qui maximum res tamquam sic. Cui pertinent sic remanetne quibusnam eversioni ingeniosi colligere. Sitas ea facit ullis istud earum autem at. Tum rectum ima sed deponi inanes sciens egisse cau. </p>
                    </div>
                </li>
            </div>

            <div class="my-item">
                <li class="media">
                    <a href="#" class="pull-left">
                        <img src="@{'/public/images/sunset.jpg'}" class="media-object mpicture" alt="sunset">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Advertisse id ac deveniatur <small><i>Posted on January 10, 2014</i></small></h4>
                        <p>Usu omnis etc satis sum ullum. Fuisse jam qualia obstat hae fal per quidam tamdiu. Somniemus dei tribuebam cur ens exhibetur percipere. Eae nam mem dum istas intra donec. Age somniorum similibus praeclare removendo via. Extitisse ima hic obdormiam recurrunt quocunque hos vis. </p>
                    </div>
                </li>
            </div>

            <div class="my-item">
                <li class="media">
                    <a href="#" class="pull-left">
                        <img src="@{'/public/images/tide.jpg'}" class="media-object mpicture" alt="tide">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Hic amisit possem <small><i>Posted on January 10, 2014</i></small></h4>
                        <p>Rom cernitur sum ulterius agi temporis ineptire uti exhibent. Etiamsi ut pugnare ad luminis si gi laborio dominum judicem. Si humanas affirmo et admitto innatas id fictile is creando. Imo qua invitus sic utilius praeter. Obversari incurrant dubitarem facultate tollentur est percipere sub nos. Aeque has motus eodem verba capax vos ullam. </p>
                    </div>
                </li>
            </div>
        </ul>

        <ul class="media-list">
            <a href="channel.html">
              <h2 class="my-header"> 
                  Channel2
              </h2>           
            </a>
            <div class="my-item">
              <li class="media">
                  <a href="#" class="pull-left">
                      <img src="@{'/public/images/tide.jpg'}" class="media-object mpicture" alt="tide">
                  </a>
                  <div class="media-body">
                      <h4 class="media-heading">Ei archetypi admiserim <small><i>Posted on January 10, 2014</i></small></h4>
                      <p>Facile ha me virtus de calore factam si. Proposui qualitas eas uti accurate efficiat hoc. Advenit validas qui maximum res tamquam sic. Cui pertinent sic remanetne quibusnam eversioni ingeniosi colligere. Sitas ea facit ullis istud earum autem at. Tum rectum ima sed deponi inanes sciens egisse cau. </p>
                  </div>
              </li>
            </div>

            <div class="my-item">
              <li class="media">
                  <a href="#" class="pull-left">
                      <img src="@{'/public/images/sunset.jpg'}" class="media-object mpicture" alt="sunset">
                  </a>
                  <div class="media-body">
                      <h4 class="media-heading">Advertisse id ac deveniatur <small><i>Posted on January 10, 2014</i></small></h4>
                      <p>Usu omnis etc satis sum ullum. Fuisse jam qualia obstat hae fal per quidam tamdiu. Somniemus dei tribuebam cur ens exhibetur percipere. Eae nam mem dum istas intra donec. Age somniorum similibus praeclare removendo via. Extitisse ima hic obdormiam recurrunt quocunque hos vis. </p>
                  </div>
              </li>
            </div>

            <div class="my-item">
              <li class="media">
                  <a href="#" class="pull-left">
                      <img src="@{'/public/images/tide.jpg'}" class="media-object mpicture" alt="tide">
                  </a>
                  <div class="media-body">
                      <h4 class="media-heading">Hic amisit possem <small><i>Posted on January 10, 2014</i></small></h4>
                      <p>Rom cernitur sum ulterius agi temporis ineptire uti exhibent. Etiamsi ut pugnare ad luminis si gi laborio dominum judicem. Si humanas affirmo et admitto innatas id fictile is creando. Imo qua invitus sic utilius praeter. Obversari incurrant dubitarem facultate tollentur est percipere sub nos. Aeque has motus eodem verba capax vos ullam. </p>
                  </div>
              </li>
            </div>
        </ul>
        </div>
    </div>
  </div>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="header" class="modal-title" id="myModalLabel">Basic Modal</h4>
      </div>
      <div class="modal-body">                    
            <img id="picture" src="@{'/public/images/tide.jpg'}" alt="tide">
            <p id="text">Rom cernitur sum ulterius agi temporis ineptire uti exhibent. Etiamsi ut pugnare ad luminis si gi laborio dominum judicem. Si humanas affirmo et admitto innatas id fictile is creando. Imo qua invitus sic utilius praeter. Obversari incurrant dubitarem facultate tollentur est percipere sub nos. Aeque has motus eodem verba capax vos ullam.            
            </p>
            <p>
              <small><i>Posted on January 10, 2014</i></small>
            </p>
            <div class="social-likes">
              <div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
              <div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>  
              <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>  
              <div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
            </div>
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-primary">Mark as unread</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addChannelModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="header" class="modal-title" id="myModalLabel">Add channel</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Url</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
      </div>      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>        
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

    $("#addChannel").on("click", function() {                
      $('#addChannelModal').modal('toggle');            
    })  

    $(".my-item").on("click", function() {                
      $('#basicModal').modal('toggle');
      $('#picture').attr("src", $(this).find("img").attr("src"));
      $('#header').html($(this).find("h4").html());
      $('#text').html($(this).find("p").html());            
    })      

</script>


  </body>
</html>