#{extends 'main.html' /}
#{set title:'Home' /}

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="feed.html">RSS Manager</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a style="margin: 10px" class="btn btn-default btn-lg" data-toggle="modal" href="#signInModal">
            Sign in
          </a>
        </li>
        <li>
          <a style="margin: 10px" class="btn btn-default btn-lg" data-toggle="modal" href="#signUpModal">
            Sign up
          </a>
        </li>      
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <select id="e1">
                #{list items:channels, as:'channel'}
                    <option value=${channel.title}>${channel.title}</option>
                #{/list}
            </select>
        </div>
        <button type="submit" class="btn btn-default">Go</button>
      </form>
      <ul class="nav navbar-nav navbar-right">        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#" data-toggle="modal" href="#aboutUsModal">About us</a></li>
            <li class="divider"></li>
            <li><a href="#">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <h2 align="center">Most viewed /<a href="">week</a>/<a href="">month</a>/<a href="">year</a> </h2>
<div class="container">
    <div id="grid" class="row"/>
</div>

    <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Sign in</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Login</label>
              <input type="email" class="form-control" name="email" id="signInLogin" placeholder="Login">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" name="password" id="signInPassword" placeholder="Password">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="signIn">Ok</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Sign in</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Login</label>
                <input type="text" class="form-control" name="login" id="signUpLogin" placeholder="Login">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="password" id="signUpPassword" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Confirm Password</label>
                <input type="password" class="form-control" name="confirmPassword" id="signUpConfirmPassword" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Confirm Password</label>
                <input type="email" class="form-control" name="email" id="signUpEmail" placeholder="Email">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="signUp">Ok</button>
          </div>
        </div>
      </div>
    </div>

<div class="modal fade" id="aboutUsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Sign in</h4>
      </div>
      <div class="modal-body">
        <h1>
          RSS Orchestrator powered by Natalya Boldinova, Savvin Sergey, Lebedko Dmitry
        </h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="feed.html" class="btn btn-primary">Confirm</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="header" class="modal-title" id="myModalLabel">Basic Modal</h4>
      </div>
      <div class="modal-body">                    
            <img id="picture">
            <p id="text"/>
            <p>
              <small><i>Posted on January 10, 2014</i></small>
            </p>
            <div class="social-likes">
              <div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
              <div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>  
              <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>  
              <div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
            </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).on("click",".my-item", function(e) {
        $('#basicModal').modal('toggle');
        $('#picture').attr("src", $(this).find("img").attr("src"));
        $('#header').html($(this).find("h3").html());
        $('#text').html($(this).find("span").html());
    });

    var getItemsAction = #{jsAction @ItemsController.items(':page', ':lenght')/};
    var signUpAction = #{jsAction @UsersController.create(':password', ':username', ':email')/};
    var signInAction = #{jsAction @UsersController.login(':password', ':login')/};
    var getChannelsAction = #{jsAction @ChannelsController.channels(':q', ':page', ':length')/};

    $("#signUp").on("click", function() {
        var password = $("#signUpPassword").val();
        var confirm_password = $("#signUpConfirmPassword").val();
        if (password != confirm_password) {
            alert("Don't match");
            return false;
        }
        var username = $("#signUpLogin").val();
        var email = $("#signUpEmail").val();
        $.post(
            signUpAction({password: password, username: username, email: email}),
            function(data) {
                console.log(data.code);
                console.log(data.message);
                if (data.code == 201) {
                    var new_url = window.location.host + "/feed.html";
                    window.location.replace("http://" + new_url);
                }
            }
        );
    });

    $("#signIn").on("click", function() {
        var password = $("#signInPassword").val();
        var login = $("#signInLogin").val();
        $.post(
            signInAction({password: password, login: login}),
            function(data) {
                console.log(data.code);
                console.log(data.message);
                if (data.code == 200) {
                    var new_url = window.location.host + "/feed.html";
                    window.location.replace("http://" + new_url);
                }
            }
        );
    });


    var length = 16;
    var page = 1;
    var loading = false;

    $(document).ready(function() {
        $.get(
            getItemsAction({page: page, lenght: length}),
            function( data ) {
                var items = data.items;
                $.each(items, function(index, item) {
                    if (item.image != "") {
                        $("#grid").append(
                                '<div class="col-xs-3 preview-item">' +
                                        '<div class="my-item">' +
                                            '<div class="thumbnail">' +
                                                '<img src=' + item.image + ' class="item-picture">' +
                                                '<h3>' + item.title + '</h3>' +
                                                '<span class="description">' +
                                                    item.description +
                                                '</span>' +
                                                '<span class="glyphicon glyphicon-thumbs-up"></span>' +
                                                '62' +
                                            '</div>' +
                                        '</div>' +
                                '</div>');
                    }
                });
            },
            "json"
        )
        page++;

        $.get(
                getChannelsAction({page:1, length: 100}),
                function(data) {
                    var channels = data.channels;
                    $.each(data, function(index, item) {
                        $("#e1").append(
                            '<option value=' + item.title + '>' +
                                item.title +
                            '</option>'
                        )
                    })
                }
        )

        $("#e1").select2({
            placeholder: "Select a State",
            allowClear: true,
            width: 'resolve'
        })
    })


    $(window).scroll(function() { //detect page scroll
        console.log("load");
        console.log($(window).scrollTop());
        console.log($(window).height());
        console.log($(document).height());
        if($(window).scrollTop() + $(window).height() == $(document).height())  //user scrolled to bottom of the page?
        {
            console.log("load");
            //if(track_load <= total_groups && loading==false) //there's more data to load
            if (loading == false) {
                console.log("load");
                loading = true; //prevent further ajax loading
                //load data from the server using a HTTP POST request
                $.get(
                        getItemsAction({page: page, lenght: length}),
                        function( data ) {
                            console.log(data);
                            var items = data.items;
                            var n = 0;
                            $.each(items, function(index, item) {
                                        if (item.image != "") {
                                            $("#grid").append(
                                                    '<div class="col-xs-3 preview-item">' +
                                                            '<div class="my-item">' +
                                                            '<div class="thumbnail">' +
                                                            '<img src=' + item.image + ' class="item-picture">' +
                                                            '<h3>' + item.title + '</h3>' +
                                                            '<span class="description">' +
                                                            item.description +
                                                            '</span>' +
                                                            '<span class="glyphicon glyphicon-thumbs-up"></span>' +
                                                            '62' +
                                                            '</div>' +
                                                            '</div>' +
                                                            '</div>');
                                        }
                                    }
                            )},
                        "json"
                )
                page++;
                loading = false;
            }
        }
    });

</script>