<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/social-likes_classic.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/style.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/custom.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">

        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="@{'/public/javascripts/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/classie.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/social-likes.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        #{doLayout /}
        <script src="@{'/public/javascripts/nav.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    </body>
</html>
